# Build output
.svelte-kit
node_modules
build
dist
.turbo
.next
out

# Environment
.env
.env.*
!.env.example

# Package manager files
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# Cache
.cache
.eslintcache
*.tsbuildinfo
vite.config.*.timestamp-*

# OS
.DS_Store
Thumbs.db
